<mat-card class="my-weatherToday">
    <div class="weatherWidgetRow" *ngIf="weather?.isDay">
      <i class="fas fa-3x fa-sun sun"></i>
    </div>
    <div class="weatherWidgetRow" *ngIf="!weather?.isDay">
      <i class="fas fa-3x fa-moon moon"></i>
    </div>
  <div class="weatherWidgetRow cloudDiv">
    <i class="fas fa-cloud fa-3x cloud"></i>
  </div>

  <div class="weatherWidgetRow" style="font-size: 35px;margin-top: 10px;">{{weather.name}}</div>
  <div class="weatherWidgetRow" style="font-size: 32px;margin-top: 10px;">{{weather.main.temp | TempConverter}}°</div>
  <div class="weatherWidgetRow" style="font-size: 15px;margin-top: 15px;"> Low: {{weather.main.temp_min | TempConverter}}° / High:
    {{weather.main.temp_max | TempConverter}}°</div>
  <div class="weatherWidgetRow" style="font-size: 15px;">Feels Like: {{weather.main.feels_like | TempConverter}}°</div>


  <div class="weatherWidgetRow" style="font-size: 15px;">Sunrise: {{weather.sys.sunrise | date: 'mediumTime'}}</div>
  <div class="weatherWidgetRow" style="font-size: 15px;">Sunset: {{weather.sys.sunset | date: 'mediumTime'}}</div>
  <div>
  </div>

</mat-card>
