.example-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.button-row>button {
  margin-right: 7px;
}

.logo{
  width: 5%;
  height: auto;
  padding: 1%;
}
.myWeather {
  display:inline;
  margin:0 0 0 10px;
}
.navContainer {
  display: flex;
  flex:4
}
.logoWrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  flex: 3;
}
.button-row {
  display: flex;
  flex: 1;
  justify-content: right;
}