<mat-toolbar>
 
 <span>My Weather</span>
 <span class="example-spacer"></span>
 <div class="button-row">
  <button class="buttons" mat-raised-button color="primary">Today</button>
  <button class="buttons" mat-raised-button color="primary">Hourly</button>
  <button class="buttons" mat-raised-button color="primary">10 day</button>
  <button class="buttons" mat-raised-button color="primary">Weekend</button>
  <button class="buttons" mat-raised-button color="primary">Monthly</button>
  <button class="buttons" mat-raised-button color="primary">Radar</button>  
</div>
 <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
</mat-toolbar>