<!-- <p>navbar works!</p> -->
<mat-toolbar>
  <div>
 <span class="myWeather">My Weather</span>
  </div>
  <span class="example-spacer"></span>
  <div class="button-row">
    <button class="buttons" mat-raised-button color="primary">Today</button>
    <button class="buttons" mat-raised-button color="primary">Hourly</button>
    <button class="buttons" mat-raised-button color="primary">10 day</button>
    <button class="buttons" mat-raised-button color="primary">Weekend</button>
    <button class="buttons" mat-raised-button color="primary">Monthly</button>
    <button class="buttons" mat-raised-button color="primary">Radar</button>  
    <button routerLink = "" mat-raised-button color="primary">home</button>
    <button routerLink = "login" mat-raised-button color="primary">Login</button>
    <button (click)="logout()" *ngIf="ifLoggedIn()" mat-raised-button color="primary">Logout</button>
    <button mat-raised-button *ngIf="ifLoggedIn()" color="primary">Favorites</button>
    <button mat-raised-button *ngIf="ifLoggedIn()" color="primary">History</button> 
  </div>
</mat-toolbar>
