.homeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
}
.history {
    padding-left: 10px;
}
.favorites {
    padding-right: 10px;
}
@media screen and (max-width:650px){
    .homeContainer {
        display: block;
    }
    .history {
        display: none;
    }
    .favorites {
        display: none;
    }
}