<div class="my-card">
   <mat-card>
         <mat-card-content>
            <form class="my-form" name="form" (ngSubmit)="onSubmit()">
               <mat-form-field class="full-width">
                  <mat-label>Username</mat-label>
                  <input  matInput type="text" [(ngModel)]="username" name="user" class="form-control"require placeholder="Username">
               </mat-form-field>
            
               <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input  matInput type="password" [(ngModel)]="password"
                  name="pass" class="form-control" placeholder="Password">
               </mat-form-field>
            
               <mat-card-actions>
                  <button mat-raised-button color="primary">LOGIN</button>
               </mat-card-actions>
            </form>
         </mat-card-content>

         <mat-card-actions>
            <button mat-raised-button color="primary" routerLink="/register">Click to Register</button>
         </mat-card-actions>
         <mat-card>

            <mat-card-content *ngIf="noAccountMessage">Account does not exist. Try again</mat-card-content>
         </mat-card>

         <mat-card>
            <mat-card-content *ngIf="noMatchMessage">Username and password do not
            match a registered user.</mat-card-content>
         </mat-card>
   </mat-card>
</div>
